.reactable-pagination tr td {
	text-align: center !important;
}

.reactable-page-button {
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.reactable-current-page {
	color: #62167a;
}

#lastPayout {
	font-size: 1.2em;
	color: #72bb53;
}